@import 'styles/settings';
@import 'styles/media_mixin.scss';

.container {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  height: $header-height;
  z-index: 103;
  display: flex;
  align-items: center;

  @include greater_600_w {
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  @include less_600_w {
    height: $header-mobile-height;
    background: $color__white;
    z-index: 112;
  }
}

.fixedToTop {
  position: fixed;
}

.containerIn {
  @extend .wrap;
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.left {
  margin-right: 137px;
}

.nav {
  display: flex;
  align-items: center;

  @include less_800_w {
    display: none;
  }
}

.navIn {
  list-style: none;
  display: flex;
}

.navItem {
  padding-right: 50px;
}
