@import 'styles/settings';
@import 'styles/media_mixin';

.container {
  display: flex;
}

.link {
  flex: 1;
  background: $color__white;
  filter: drop-shadow(10px 6px 36px rgba(0, 0, 0, 0.13));
  color: $color__text-light-gray;
  z-index: 1;
  min-width: 200px;
  width: 100%;

  transition: all 0.2s;

  &:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

    .tabUnderline {
      border-bottom-left-radius: 6px;
    }
  }

  &:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

    .tabUnderline {
      border-bottom-right-radius: 6px;
    }
  }
}

.linkActive {
  z-index: 2;
  color: $color__text-black;
}

.tabContainer {
  padding: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include less_600_w {
    padding: 18px;
  }
}

.tabValue {
  font-weight: bold;
  font-size: 22px;
  line-height: 150%;

  @include less_600_w {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
  }

  transition: all 0.2s;
}

.tabUnderline {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: $color__accent;
  transition: all 0.2s;
  transform: scale(0);
}

.tabUnderlineShowed {
  transform: scale(1);
}
