@import 'styles/settings';
@import 'styles/media_mixin';

.hideOnMobile {
  @include less_600_w {
    display: none !important;
  }
}

.hideOnDesktop {
  @include greater_600_w {
    display: none !important;
  }
}

.container {
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  margin-bottom: 80px;

  @include less_600_w {
    flex-direction: column;
    margin-bottom: 50px;
  }
}

.headInfo {
  display: flex;
  flex-direction: column;
}

.mobileHeadInfo {
  display: flex;
  flex-direction: column;
}

.mobileHeadInfoTitle {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.mobileHeadInfoData {
  display: flex;
}

.mobileHeadInfoDataBlock {
  flex: 1;
  display: flex;
  flex-direction: column;

  &:last-child {
    padding-top: 60px;
    align-items: flex-end;
  }
}

.headDescription {
  display: flex;
  flex-direction: column;
  margin-left: 110px;
  padding-bottom: 0 !important;

  @include less_950_w {
    margin-left: 60px;
  }

  @include less_600_w {
    margin-top: 50px;
    margin-left: 0;
  }
}

.caseTitle {
  font-weight: bold;
  font-size: 68px;
  line-height: 120%;
  margin-bottom: 35px;
  color: $color__text-black;

  @include less_600_w {
    margin-bottom: 0;
    font-size: 28px;
    line-height: 125%;
  }
}

.projectDescription {
  font-size: 16px;
  line-height: 150%;
  color: $color__text-black;

  @include less_600_w {
    font-weight: bold;
  }
}

.linkToResource {
  color: $color__accent;
  font-size: 16px;
  line-height: 150%;

  &:hover {
    color: $color__accent-focused;
  }
}

.caseDescription {
  margin-top: 24px;
  font-size: 16px;
  line-height: 150%;
  color: $color__text-black;

  @include less_600_w {
    font-size: 14px;
  }
}

.year {
  font-weight: bold;
  font-size: 68px;
  line-height: 120%;
  color: $color__border-light-gray;
}

.infoItemContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  &:last-child {
    margin-top: 20px;
  }
}

.infoItemTitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: $color__text-black;
}

.infoItemValue {
  margin-top: 2px;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: $color__text-light-gray;
}

.infoItemList {
  list-style: none;
}

.caseImagesList {
  display: flex;
  flex-direction: column;
}

.caseImage {
  width: 100%;
  height: auto;
}

.challengeContainer {
  display: flex;
  margin-top: 80px;

  @include less_600_w {
    margin-top: 40px;
    flex-direction: column;
  }
}

.challengeTitle {
  font-weight: bold;
  font-size: 22px;
  line-height: 150%;
  color: $color__text-black;
}

.challengeDescription {
  font-size: 16px;
  line-height: 150%;
  color: $color__text-black;
  margin-left: 150px;

  @include less_950_w {
    margin-left: 90px;
  }

  @include less_600_w {
    margin-left: 0;
    margin-top: 12px;
  }
}

.numbersContainer {
  display: flex;
  list-style: none;

  @include greater_600_w {
    margin-top: 120px;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  @include less_600_w {
    flex-direction: column;
    margin-top: 46px;
    margin-bottom: 80px;
  }
}

.numbersItem {
  display: flex;
  flex-direction: column;

  @include greater_600_w {
    flex-basis: 210px;
  }

  @include less_600_w {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.numbersItemTitle {
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;
  color: $color__accent;
}

.numbersItemDescription {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: $color__text-light-gray;

  @include less_600_w {
    font-size: 22px;
    max-width: 186px;
  }
}

.caseList {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 40px;

  @include less_600_w {
    margin-top: 20px;
  }
}

.caseListContainer {
  display: flex;
  flex-direction: column;

  @include less_600_w {
    margin: 0 -20px;
    padding: 24px 20px 32px;
    background: $color__white;
  }
}

.caseListTitle {
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;

  @include less_600_w {
    font-weight: 600;
    font-size: 24px;
  }
}

.caseListItem {
  display: flex;
  margin-bottom: 40px;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }

  @include less_800_w {
    align-items: flex-start;
    flex-direction: column;
  }
}

.caseListItemContainer {
  display: flex;
  flex-direction: column;
  margin-left: 65px;

  @include less_800_w {
    margin-left: 0;
    margin-top: 20px;
  }
}

.caseListItemImageWrapper {
  max-width: 670px;
  min-width: 335px;
}

.caseListItemImage {
  width: 100%;
  height: auto;
}

.caseListItemTitle {
  font-weight: bold;
  font-size: 22px;
  line-height: 150%;
  color: $color__text-black;

  @include less_600_w {
    font-weight: 600;
    font-size: 24px;
  }
}

.caseListItemDescription {
  font-size: 16px;
  line-height: 150%;
  color: $color__text-black;
  margin-top: 12px;
  margin-bottom: 40px;

  @include less_600_w {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 20px;
  }
}

.footer {
  @include greater_600_w {
    margin-top: 0;
  }
}
