@import 'styles/settings';
@import 'styles/media_mixin';

$margin__list: 55px;
$margin__mobile-list: 25px;
$margin__height-fix: 87px;
$margin__mobile-height-fix: 45px;

$timing__picker-animation: 100ms;

@mixin child($i, $n) {
  &:nth-child(#{$i}) {
    z-index: calc(#{$n} - #{$i});
  }
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.article {
  display: flex;
  position: relative;

  @include less_950_w {
    padding-bottom: 170px !important;
  }
}

.titleBlock {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  margin-right: 75px;
  position: relative;
  z-index: 2;

  @include less_950_w {
    margin-right: 0;
    margin-top: 40px;
  }
}

.titleBlockTitle {
  margin-bottom: 17px;
  font-weight: 600;
  font-size: 44px;
  line-height: 150%;

  @include less_600_w {
    font-size: 24px;
  }
}

.titleBlockDescription {
  font-size: 16px;
  line-height: 150%;
}

.titleImage {
  min-width: 480px;
  min-height: 364px;
  width: 480px;
  height: 364px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('/assets/technologies/title/background.svg');

  @include less_950_w {
    position: absolute;
    right: -130px;
    bottom: 0;
  }
}

.picker {
  display: flex;
  padding-bottom: 100px;
  padding-top: $margin__list;

  @include less_950_w {
    flex-direction: column;
    margin-top: 50px;
  }

  @include less_600_w {
    padding-top: $margin__mobile-list;
    padding-bottom: 40px;
  }
}

.listContainer {
  display: flex;

  @include less_950_w {
    padding-bottom: 150px;
  }

  @include less_600_w {
    padding-bottom: 100px;
  }
}

.visualList {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: -$margin__list;

  @include less_600_w {
    margin-top: -$margin__mobile-list;
  }
}

.visualListItem {
  position: relative;
  margin-bottom: -$margin__height-fix;
  margin-top: 0;
  transition: margin-top $timing__picker-animation;
  cursor: pointer;
  user-select: none;

  @for $i from 1 to 6 {
    @include child(#{$i}, 6);
  }

  @include less_600_w {
    width: 135px;
    height: auto;

    margin-bottom: -$margin__mobile-height-fix;
  }
}

.visualListItemActive {
  margin-top: $margin__list;

  @include less_600_w {
    font-size: 18px;

    margin-top: $margin__mobile-list;
  }
}

.list {
  list-style: none;
  padding-left: 77px;
  margin-left: 50px;
  width: 277px;

  @include less_1200_w {
    margin-left: 20px;
  }

  @include less_950_w {
    width: auto;
  }
}

.listItem {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @include less_600_w {
    margin-bottom: 10px;
  }
}

.listItemActive {
  .listItemValue {
    color: $color__accent;
    font-size: 32px;
    line-height: 48px;
  }

  .listItemLine {
    background: $color__accent;
    left: -77px;
    width: 65px;
  }

  @include less_600_w {
    .listItemValue {
      font-size: 22px;
      line-height: 33px;
    }
  }
}

.listItemLine {
  position: absolute;
  left: -47px;
  width: 35px;
  height: 2px;
  background: $color__border-light-gray;
  transition: all $timing__picker-animation;
}

.listItemValue {
  font-size: 22px;
  line-height: 33px;
  font-weight: bold;
  color: $color__text-light-gray;
  overflow: hidden;
  cursor: pointer;
  transition: all $timing__picker-animation;
  user-select: none;

  &:hover {
    color: $color__accent;

    & + span {
      background: $color__accent;
    }
  }

  @include less_600_w {
    font-size: 18px;
  }

  @include greater_600_w {
    text-transform: uppercase;
  }
}

.languageInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 450px;
  margin-left: 70px;

  @include less_1200_w {
    margin-left: 30px;
    max-width: 350px;
  }

  @include less_950_w {
    margin-left: 0;
    max-width: none;
  }
}

.languageInfoTitle {
  font-weight: bold;
  font-size: 32px;

  @include less_600_w {
    font-size: 24px;
  }
}

.languageInfoDescription {
  font-size: 16px;
}

.startWorkingWithUs {
  margin-top: 70px;
}

.form {
  padding-bottom: 80px;
}