@import "styles/settings";

.container {
  list-style: none;
  display: flex;
}

.item {
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.link {
  cursor: pointer;

  &:hover {
    path {
      transition: all 0.2s;
      fill: $color__accent;
    }
  }
}