@import 'styles/settings';

$input__bg: #f5f5f5;
$input__bg-hover: #ededed;

.wrapper {
  position: relative;
  width: 100%;
  transition: background-color 0.2s ease;
}

.field {
  padding: 13px 16px;
  background-color: $input__bg;
  border-width: 0;
  display: block;
  width: 100%;
  outline: none;
  z-index: 2;
  caret-color: $color__accent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  resize: none;
  font-size: 14px;
  transition: all 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:hover {
    background-color: $input__bg-hover;
  }

  &:focus {
    & + label {
      color: $color__accent;
    }

    & ~ div {
      transform: scaleX(1);
    }
  }

  &:focus,
  &:not(:placeholder-shown) {
    padding: 17px 16px 9px; // after focus

    & + label {
      top: 4px;
      font-size: 10px;
    }
  }
}

.label {
  position: absolute;
  top: 13px;
  left: 16px;
  font-size: 14px;
  transition: all 0.2s;
}

.underline {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 1px;
  transform: scaleX(0);
  background: $color__accent;
  transition: transform 250ms ease-in-out;
}
