@import "styles/media_mixin";
@import "styles/settings";

$color__bg-cookies: rgba(14, 23, 36, 0.7);

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  padding: 16px 35px;
  display: flex;
  align-items: center;
  background: $color__bg-dark-gray;
}

.info {
  display: flex;
  align-items: center;

  @include less_600_w {
    flex-direction: column;
    align-items: flex-start;
  }
}

.title {
  font-size: 32px;
  line-height: 150%;
  color: $color__white;
  margin-right: 28px;
}

.description {
  font-size: 12px;
  line-height: 150%;
  color: $color__white;
  margin-right: 28px;
}

.agreeBtn {
  padding: 13px 46px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  background: $color__white;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: none;
  color: $color__text-black;
}

.hidden {
  display: none;
}

