@import 'styles/settings';
@import 'styles/media_mixin';

.article {
  margin-top: 40px;

  &:first-child {
    margin-top: 80px;
  }

  @include less_600_w {
    margin-top: 0;

    &:first-child {
      margin-top: 20px;
    }
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.blockCol {
  @extend .article;

  position: relative;
  display: flex;
  flex-direction: column;
}

.blockRow {
  @extend .article;

  position: relative;
  display: flex;
  justify-content: space-between;
}

.blockText {
  display: flex;
  flex-direction: column;
  z-index: 2;
  max-width: 601px;
}

.blockTextTitle {
  @include less_600_w {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
  }
}

.btn {
  margin-top: 40px;
  align-self: flex-start;
}

.blockTextDescription {
  font-size: 16px;
}

.tabsContainer {
  @include less_450_w {
    position: relative;
    padding-top: 60px;
  }
}

.toLeft {
  @include less_450_w {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.toRight {
  @include less_450_w {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.backgroundImageWrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;

  @include less_950_w {
    bottom: -50px;
    right: -200px;
    transform: scale(0.65);
  }
}

.advantagesContainer {
  display: flex;
  list-style: none;

  @include less_600_w {
    flex-direction: column;
  }
}

.advantagesItem {
  position: relative;
  padding: 23px 35px;
  font-size: 16px;
  line-height: 150%;
  color: $color__text-black;
  background: linear-gradient(
      242.73deg,
      rgba(155, 47, 255, 0.07) -4.77%,
      rgba(155, 47, 255, 0) 87.59%
    ),
    #fafafa;
  box-shadow: 10px 6px 36px rgba(0, 0, 0, 0.13);
  border-radius: 6px;

  &:after {
    content: '';
    position: absolute;
    background: transparent url('/assets/polygon-blue.svg') no-repeat center;
  }

  @include greater_600_w {
    flex: 1 1 370px;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;

      &:after {
        display: none;
      }
    }

    &:after {
      top: 0;
      right: -30px;
      height: 100%;
      width: 30px;
    }
  }

  @include less_600_w {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;

      &:after {
        display: none;
      }
    }

    &:after {
      bottom: -30px;
      right: 0;
      width: 100%;
      height: 30px;
    }
  }
}

.workflowContainer {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: -20px;
  @include less_600_w {
    justify-content: flex-start;
  }
}

.workflowItem {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  margin: 20px;
  align-items: flex-start;

  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #2b2b2b;

  @include less_600_w {
    font-weight: 500;
    font-size: 14px;
    flex-basis: 130px;
  }
}

.suitableSection {
  @include less_800_w {
    flex-direction: column;
  }
}

.suitableList {
  padding-left: 27px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.suitableItem {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
}

.modelImageWrapper {
  display: flex;
  width: 100%;
  object-fit: contain;
  justify-content: flex-end;
  overflow: hidden;

  @include greater_800_w {
    margin-left: 20px;
  }

  @include less_800_w {
    justify-content: flex-start;
    margin-top: 40px;
  }
}

.modelImage {
  display: flex;
  height: 100%;

  @include less_800_w {
    width: 100%;
    height: auto;
    max-width: 500px;
  }
}

.blockImageWrap {
  @include less_600_w {
    padding-bottom: 80px !important;
  }
}

.footer {
  margin-top: 60px;
}
