@import 'styles/settings';
@import 'styles/media_mixin';

.container {
  display: flex;
  flex-direction: column;
}

.containerIn {
  display: flex;
  margin-bottom: 120px;

  @include less_950_w {
    flex-direction: column;
  }
}

.wrapInCenter {
  padding-top: $header-height;
}

.credentials {
  display: flex;
  flex-direction: column;
  margin-left: 76px;

  @include less_950_w {
    margin-left: 0;
  }
}

.itemTitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.itemMailLink {
  font-size: 14px;
  line-height: 150%;

  &:hover {
    color: $color__accent;
  }
}

.itemValue {
  font-size: 14px;
  line-height: 150%;
}

.item {
  margin-top: 30px;
}

.form {
  @include greater_800_w {
    button {
      position: absolute;
      right: 20px;
      bottom: -70px;
    }
  }
}

.footer {
  @include less_950_w {
    display: none;
  }
}
