@import 'styles/settings';

$btn__box-shadow: rgba(18, 39, 91, 0.31);

.btn {
  height: 47px;
  padding: 0 43px;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  border: solid 1px $color__accent;
  display: inline-block;
  cursor: pointer;
  outline: none;
  transition: all 0.2s;

  &:disabled {
    opacity: 0.3;
  }
}

.btnMain {
  background: $color__accent;
  color: $color__white;
  box-shadow: 0 4px 24px $btn__box-shadow;

  &:hover {
    box-shadow: 0 20px 24px $btn__box-shadow;
  }

  &:focus {
    background: $color__accent-focused;
  }

  &:disabled {
    box-shadow: 0 4px 24px $btn__box-shadow;
  }
}

.btnSecondary {
  background: transparent;
  color: $color__text-black;
  transition: all 0.2s;

  &:hover {
    box-shadow: inset 0 -45px 0 0 $color__accent;
    color: $color__white;
  }

  &:focus {
    box-shadow: inset 0 -45px 0 0 $color__accent-focused;
    color: $color__white;
  }

  &:disabled {
    box-shadow: none;
    color: $color__text-black;
  }
}
