@import 'styles/settings';
@import 'styles/media_mixin';

.container {
  padding-top: 20px;
  padding-bottom: 44px;
}

.textBlock {
}

.textBlockTitle {
  @include less_600_w {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
  }
}

.textBlockDescription {
  @include less_600_w {
    font-size: 16px;
  }
}

.form {
  display: flex;
  position: relative;

  @include greater_800_w {
    .col {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @include less_800_w {
    flex-direction: column;

    .col {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.row {
  display: flex;

  @include greater_800_w {
    .col {
      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @include less_800_w {
    flex-direction: column;
    .col {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.col {
  display: flex;
  flex-direction: column;

  flex: 1;

  .row {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include less_800_w {
    .row {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.confirmBtn {
  margin-top: auto;

  @include less_800_w {
    align-self: flex-end;
  }
}
