@import 'styles/settings';

.container {
  @extend .wrap;
  position: relative;
  z-index: 1;

  article {
    padding-bottom: 40px;

    h2 {
      padding-bottom: 33px;
    }

    p {
      color: $color__text-black;
      line-height: 1.5;
    }
  }
}
