@import 'styles/settings';
@import 'styles/media_mixin';

/*
  ******* Main *******
*/

.containerLeft {
  @extend .wrapInLeft;
  height: 100vh;
  position: fixed;
  z-index: 2;

  @include less_1200_w {
    display: none;
  }
}

.wrapInCenter {
  @extend .wrapInCenter;
  margin-left: $side-left-width;

  @include less_1200_w {
    margin-left: 0;
  }
}

.containerLeftMenu {
  list-style: none;
  margin-bottom: 52px;
}

.leftMenuItem {
  margin-bottom: 52px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  a {
    color: $color__text-light-gray;
    transition: all 0.2s;

    &:hover {
      color: $color__text-black;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:global(.active) {
    a {
      color: $color__text-black;
    }
  }
}

.section {
  padding-left: 77px;
  opacity: 0;
  transition: all 0.3s;

  &:global(.active) {
    opacity: 1;
  }

  @include less_1200_w {
    padding-left: 0;
  }

  @include less_600_w {
    opacity: 1;
    height: auto !important;

    :global(.fp-tableCell) {
      height: auto !important;
    }
  }

  @include less_720_h {
    opacity: 1;
    height: auto !important;

    :global(.fp-tableCell) {
      height: auto !important;
    }
  }
}

.textBlock {
}

.textBlockTitle {
  @include less_600_w {
    font-size: 24px;
  }
}

.textBlockParagraph {
  @include less_600_w {
    font-size: 16px;
  }
}

.mainSlide {
  .textBlock {
    max-width: 530px;
    z-index: 10;
    position: relative;
  }

  .textBlockParagraph {
    max-width: 388px;
  }

  @include less_720_h {
    padding-top: 40px;
  }

  @include less_600_w {
    padding-bottom: 150px;
    padding-top: 40px;

    .textBlock {
      max-width: 335px;
    }

    .textBlockTitle {
      font-size: 28px;
    }

    .textBlockParagraph {
      max-width: 283px;
    }
  }

  @include less_375_w {
    .textBlockTitle,
    .textBlockParagraph {
      width: 100%;
    }
  }
}

.starkWork {
  position: relative;
  z-index: 2;
}

.hexagons {
  z-index: 1;
  position: absolute;

  @include greater_375_w {
    right: 353px;
    bottom: 50%;
  }

  @include less_800_w {
    bottom: 40%;
  }

  @include less_600_w {
    right: 353px;
    bottom: 60px;
  }

  @include less_450_w {
    right: unset;
    left: 0;
  }
}

/*
  ******* Main END *******
*/

/*
  ******* Models *******
*/

.modelsSlide {
  :global(.fp-tableCell) {
    max-width: 624px;
  }
}

.modelsList {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid $color__border-light-gray;
}

.modelsListItem {
  position: relative;
  min-height: 158px;
  padding: 15px 0 15px 182px; // svg width 128px
  border-bottom: 1px solid $color__border-light-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @include less_600_w {
    padding-left: 113px;
    min-height: 115px;
  }
}

.modelsListItemTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #2b2b2b;
  padding-bottom: 15px;
}

.modelsListItemDescription {
  font-size: 16px;
  color: #707070;
  padding-bottom: 10px;

  @include less_600_w {
    font-size: 14px;
  }

  @include less_375_w {
    display: none;
  }
}

.modelsListIcon {
  position: absolute;
  left: 0;

  @include less_600_w {
    transform: scale(0.66); // svg width ~ 85px
    transform-origin: left;
  }
}

/*
  ******* Models END*******
*/

/*
  ******* Technologies *******
*/

.technologiesSlide {
  margin-right: -20px; // fix for grid-like display
}

.technologiesList {
  list-style: none;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin: -20px -20px -20px -40px;

  @include less_950_w {
    margin-left: -20px;
  }

  @include less_600_w {
    flex-direction: column;
    margin: -13px -20px -13px;
  }
}

.expandTechnologiesList {
  color: $color__accent;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 32px 22px 20px;

  @include greater_375_w {
    display: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.technologiesListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

  &:hover {
    svg {
      transition: all 0.2s;
      filter: drop-shadow(0 20px 24px rgba(18, 39, 91, 0.22));
    }
  }

  @include greater_600_w {
    flex-basis: 162px;
  }

  @include less_600_w {
    flex-direction: row;
    margin: 13px 20px;
  }
}

.technologiesListItemInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include less_600_w {
    align-items: flex-start;
    margin-left: 24px;
  }
}

.technologiesListItemTitle {
  font-size: 16px;
  text-align: center;
  margin-bottom: 4px;
}

.technologiesListIcon {
  margin-bottom: 14px;

  @include less_375_w {
    margin-bottom: 0;
  }
}

.technologiesListHelper {
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 22px;

  @include greater_600_w {
    flex-basis: 260px;
  }

  @include less_375_w {
    margin-top: 40px;
  }
}

.technologiesListHelperTitle {
  margin-bottom: 16px;
  font-size: 16px;
}

.technologiesListHelperDescription {
  margin-bottom: 20px;
  font-size: 14px;
}

.readFullBtn {
  color: $color__accent;

  &:hover {
    color: $color__accent-focused;
  }
}

/*
  ******* Technologies END *******
*/

/*
  ******* Cases *******
*/

.portfolioSlide {
}

.portfolioSliderBgHex {
  position: absolute;
  display: block;
}

.portfolioSliderBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolioSliderBgHex1 {
  @extend .portfolioSliderBgHex;
  left: 0;
  bottom: 30px;
}

.portfolioSliderBgHex2 {
  @extend .portfolioSliderBgHex;
  left: 210px;
  bottom: 10px;
  width: 32px;
}

.portfolioSliderBgHex3 {
  @extend .portfolioSliderBgHex;
  left: 210px;
  top: 90px;
  width: 32px;
}

.portfolioSliderBgHex4 {
  @extend .portfolioSliderBgHex;
  right: 0;
  bottom: 40px;
  width: 232px;
  opacity: 0.8;
}

.portfolioSlider {
  border-top: 1px solid $color__border-light-gray;
  position: relative;
  padding-top: 20px;

  @include less_600_w {
    :global(.slick-prev) {
      left: 0;
    }

    overflow: hidden;
  }
}

.portfolioSliderHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolioSliderHeaderTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;

  @include less_600_w {
    font-size: 18px;
  }
}

.portfolioSliderItem {
}

.portfolioSliderItemImageWrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.portfolioSliderItemImage {
  width: 100%;
  height: auto;
}

/*
  ******* Cases END *******
*/

.sliderArrow {
}

/*
  ******* Reviews *******
*/

.reviewsSlide {
  :global(.slick-slider) {
    max-width: 756px;
    margin-right: -33px;

    &:before {
      content: '';
      background: $color__white;
      box-shadow: 6px 10px 24px rgba(0, 0, 0, 0.07);
      border-radius: 10px;
      position: absolute;
      left: 0;
      top: 80px;
      right: 32px;
      bottom: 0;
    }

    @include less_600_w {
      :global(.slick-arrow) {
        top: 65px;
      }

      :global(.slick-prev) {
        right: calc(50% + 4px);
      }
      :global(.slick-next) {
        left: calc(50% + 4px);
      }
    }
  }

  :global(.slick-list) {
    padding-top: 80px;
    margin-right: 33px;
  }

  @include less_600_w {
    overflow: hidden;
  }
}

.reviewsSlideItem {
  padding: 32px 40px 32px 20px;

  @include less_600_w {
    padding: 20px;
    height: 437px;
  }
}

.reviewsSlideItemBody {
  height: 237px;
  display: flex !important;
  flex-direction: row;

  @include less_600_w {
    flex-direction: column;
  }
}

.reviewsSlideInfo {
  flex-direction: column;

  width: 145px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  display: flex;

  @include less_600_w {
    flex-direction: row;
    width: 100%;
  }
}

.reviewsSlideInfoHead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;

  @include less_600_w {
    padding-top: 15px;
  }
}

.reviewsSlideLogo {
  margin-top: auto;

  @include less_600_w {
    margin-top: 20px;
  }
}

.reviewsSlideTextContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewsSlideText {
  position: relative;
  width: 100%;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: $color__text-black;

  overflow: hidden;

  margin-bottom: 20px;

  // Commented code bellow enables white gradient on bottom of text

  //&:after {
  //  position: absolute;
  //  content: '';
  //  bottom: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  z-index: 2;
  //
  //  background: linear-gradient(
  //    0deg,
  //    rgba(255, 255, 255, 0.5) 10%,
  //    rgba(255, 255, 255, 0) 40%
  //  );
  //}

  @include less_600_w {
    display: flex;
    overflow: hidden;
    max-height: 175px;
  }
}

.reviewsSlideAvatar {
  @include greater_600_w {
    margin-top: -73px;
  }
}

.reviewsSlideAuthor {
  font-weight: bold;
  font-size: 16px;
  color: $color__text-pure-black;
}

.reviewsSlidePosition {
  display: block;
  font-size: 14px;
  color: #707070;
}

/*
  ******* Reviews END *******
*/

/*
  ******* Form  *******
*/

.formSlide {
  position: relative;
}

.footer {
  width: 100%;
  bottom: 0;
  @include less_800_w {
    position: absolute;
  }

}

.formArea {
  @include less_720_h {
    padding-bottom: 250px;
  }

  @include less_800_w {
    padding-bottom: 250px;
  }

  @include less_375_w {
    padding-bottom: 300px;
  }
}

/*
  ******* Form END *******
*/
