@import 'styles/settings';
@import 'styles/media_mixin';

$timing__mobile-menu: 400ms;

.mobileWrap {
  @include greater_800_w {
    display: none !important;
  }
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  z-index: 111;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  transform: translateX(100%);
  transform-origin: right;
  transition: all $timing__mobile-menu;
  background: $color__white;

  @include less_375_w {
    width: 100%;
  }
}

.control {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  height: $header-height;
  z-index: 112;

  @include less_600_w {
    height: $header-mobile-height;
  }
}

.grayWrapper {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 110;
  cursor: pointer;
  transition: all $timing__mobile-menu;
  background: $color__bg-dark-gray;
}

.nav {
  margin-top: $header-height;
  margin-bottom: 55px;
}

.navIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.navItem {
  margin-bottom: 34px;

  &:last-child {
    margin-bottom: 0;
  }
}

.btn {
  margin-top: 35px;
}

.toggleMenuContainer {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    path {
      stroke: $color__accent;
      transition: all $timing__mobile-menu;
    }
  }
}

.dropdown {
  ul {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  > div:last-child {
    transform-origin: top;
    position: relative;
  }
}

/* Menu animation */

.menuOpen {
  transform: translateX(0);
  visibility: visible;
}

.menuClosed {
  visibility: hidden;
  transform: translateX(100%);
}

/* Menu animation END */

/* Wrapper animation */

.wrapperOpen {
  visibility: visible;
  opacity: 1;
}

.wrapperClosed {
  visibility: hidden;
  opacity: 0;
}

/* Wrapper animation END*/
