@import "styles/settings";

.container {
  font-size: 14px;
  display: inline-block;
  font-weight: normal;
  color: $color__accent;

  &:hover {
    color: $color__accent-focused;
  }
}

.image {
  display: inline-block !important;
  margin: 0 0 0 10px !important;
}