@import 'styles/settings';
@import 'styles/media_mixin';

.container {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $color__border-light-gray;
  padding-bottom: 40px;

  @include less_600_w {
    flex-direction: column-reverse;
    padding-top: 24px;
  }
}

.info {
  display: flex;
  flex-direction: column;
}

.infoHead {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 140%;
  font-weight: bold;

  @include less_600_w {
    font-size: 14px;
  }
}

.infoMapView {
  font-size: 14px;
  color: $color__text-light-gray;
  font-weight: bold;
  line-height: 150%;
  cursor: pointer;
  margin-bottom: 22px;

  &:hover {
    color: $color__text-black;
  }

  @include less_600_w {
    display: none;
  }
}

.infoCopyRight {
  font-size: 10px;
  line-height: 150%;
  font-weight: bold;
  margin-top: 6px;
}

.navIn {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;

  margin-top: 10px;
  list-style: none;

  @include less_600_w {
    display: none;
  }
}

.navItem {
  margin-bottom: 8px;

  font-weight: bold;
  font-size: 14px;
  line-height: 150%;

  a {
    color: $color__text-light-gray;

    &:hover {
      color: $color__text-black;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.columnHead {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: $color__text-black;
  margin-bottom: 10px;

  @include less_600_w {
    display: none;
  }
}

.cooperationEmailUs {
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 10px;
  transition: color 0.2s;

  &:hover {
    color: $color__accent;
  }

  @include less_600_w {
    color: $color__accent;
  }
}

.cooperation {
  display: flex;
  flex-direction: column;

  @include less_600_w {
    &:before {
      content: 'Email us';
      font-weight: bold;
      font-size: 12px;
      line-height: 150%;
      color: $color__text-light-gray;
    }
  }
}

.cooperationItem {
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 10px;
  transition: color 0.2s;

  &:hover {
    color: $color__accent;
  }
}
