@import 'styles/settings';

.NavLink {
  outline: none;

  a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: $color__text-black;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.2s;
  }

  &:hover {
    a {
      color: $color__accent !important;
    }
  }
}

.NavLinkActive {
  a {
    color: $color__accent !important;
  }
}