@import 'styles/media_mixin';
@import 'styles/settings';

$dropdown__box-shadow: rgba(0, 0, 0, 0.13);

.container {
  position: relative;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    .title {
      color: $color__accent;
    }

    path {
      stroke: $color__accent;
    }
  }
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: $color__text-black;
  margin-right: 3px;
  transition: all 0.2s;
}

.arrow {
  margin-bottom: -3px;
  transition: all 0.2s;

  path {
    transition: all 0.2s;
  }
}

.dropdownNameShowed {
  .title {
    color: $color__accent;
  }

  .arrow {
    transform: rotateZ(180deg);
  }

  path {
    stroke: $color__accent;
  }
}

.subroutesContainer {
  position: fixed;
  left: 0;
  width: 100%;
  transform: scale(0);
  transform-origin: top;
  transition: all 0.2s;
  display: flex;
  justify-content: center;

  height: 0;
  margin-top: 0;
}

.dropdownSubroutes {
  margin: -7px -21px;
  padding: 7px 45px;
  list-style: none;
  display: flex;
  justify-content: center;
  background: $color__white;
  box-shadow: 10px 6px 36px $dropdown__box-shadow;

  @include less_1200_w {
    flex-wrap: wrap;
  }
}

.dropdownSubroutesItem {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  margin: 7px 21px;

  a {
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    color: $color__text-light-gray !important;
  }
}

/* Dropdown animation */
.dropdownClosed {
  transform: scale(0);
}

.dropdownOpen {
  transform: scale(1);
  height: auto;
  margin-top: 20px;
}
/* Dropdown animation END */
