@import "media_mixin";

$hexagon-anim-time: 1s;
.hexagons {
  position: relative;
  transform: translate(0, 132px);
}
.hexagon {
  position: absolute;
  height: 76px;
  width: 101px;
  transition: all $hexagon-anim-time ease-in-out;
  top: 0;
  z-index: 1;
  //filter: blur(2px);
  &.active {
    filter: blur(0px);
    height: 193px;
    transform: translate(0, -90px);
    .hexagon-side {
      opacity: 0.5;
    }
    .hexagon-text {
      opacity: 1;
    }
  }

  &:nth-child(2) {
    left: 99px;
    top: -15px;
    z-index: 5;
  }

  &:nth-child(3) {
    left: 23px;
    top: -62px;
    z-index: 0;
  }

  &:nth-child(4) {
    left: 121px;
    top: -78px;
    z-index: 3;

  }

  &:nth-child(5) {
    left: 156px;
    top: -141px;
    z-index: 2;
  }
  &:nth-child(6) {
    left: 220px;
    top: -93px;
    z-index: 2;
  }
}

.hexagon-top-bottom {
  position: absolute;
  width: 101px;
  height: 59px;
}

.hexagon-top {
  @extend .hexagon-top-bottom;
  z-index: 4;
  top: 0;
  background-repeat: no-repeat;
}
.hexagon-bottom {
  @extend .hexagon-top-bottom;
  bottom: 0;
  background: url('/assets/hexagon-bottom.svg') no-repeat;
}

.hexagon-side {
  @extend .hexagon-top-bottom;
  transition: all $hexagon-anim-time ease-in-out;
  opacity: 1;
  z-index: 3;
  bottom: 0;
  height: calc(100% - 26px);
  background: url('/assets/hexagon-side.svg') no-repeat 0 100%;
}

.hexagon-text {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all $hexagon-anim-time ease-in-out;
}
