@import "media_mixin";
@import "settings";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: $color__text-black;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

button {
  font-family: 'Lato', sans-serif;
}

textarea {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: $color__text-black;
  transition: all 0.2s;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 125%;
  padding-bottom: 33px;
  color: $color__text-black;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;

  color: $color__text-black;
}

.svg-animated-wrap {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.svg-animated {
  position: absolute;
}

.svg-animated-rb {
  @extend .svg-animated;
  bottom: -500px;
  left: calc(50% - 591px);
  transform: translate(-50%, 0);
}

.svg-animated-lt {
  @extend .svg-animated;
  top: -59px;
  left: calc(50% + 570px);
  transform: translate(-50%, 0);
}

.svg-animated-lb {
  @extend .svg-animated;
  bottom: -200px;
  left: calc(50% + 421px);
  transform: translate(-50%, 0);
}

.fp-tableCell {
  padding-top: 67px;
  position: relative;
  //display: flex !important;
  //flex-direction: column;
  //justify-content: center;
  //align-items: flex-start;
}

@import 'hexagons';
@import 'slickslider';

////////
