@mixin less_1200_w {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin less_950_w {
  @media (max-width: 950px) {
    @content;
  }
}

@mixin less_800_w {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin greater_800_w {
  @media (min-width: 801px) {
    @content;
  }
}

@mixin less_600_w {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin greater_600_w {
  @media (min-width: 601px) {
    @content;
  }
}

@mixin less_450_w {
  @media (max-width: 450px) {
    @content;
  }
}

@mixin less_375_w {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin greater_375_w {
  @media (min-width: 376px) {
    @content;
  }
}

@mixin less_720_h {
  @media (max-height: 720px) {
    @content;
  }
}

