@import 'media_mixin.scss';

/* Main colors */
$color__accent: #0255FB;
$color__accent-focused: #0D51D9;
$color__white: #fff;
$color__text-black: #2a2a2a;
$color__text-pure-black: #000;
$color__text-light-gray: #707070;
$color__border-light-gray: #b7b7b7;
$color__bg-dark-gray: rgba(14, 23, 36, 0.7);

/* Main colors END */

$body-color: slateblue;
$header-height: 110px;
$header-mobile-height: 75px;
$side-left-width: 169px;

.wrapHeader {
  padding-top: $header-height;

  @include less_600_w {
    padding-top: $header-mobile-height;
  }
}

.wrap {
  display: flex;
  margin: 0 auto;
  width: 1170px;

  @include less_1200_w {
    width: 900px;
  }

  @include less_950_w {
    width: 100%;
    margin: 0;
    padding: 0 20px;

    overflow-x: hidden;
  }
}

.wrapInLeft {
  width: $side-left-width;
  padding-top: $header-height;
  border-right: 1px solid #d1d1d1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.wrapInCenter {
  flex: 1;
}

.hidden {
  display: none;
}