@import 'styles/media_mixin';

.workflow {
  margin-left: -10px;
  filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.05));
}

.programmingLanguage {
  position: relative;
  filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.07));

  &:hover {
    .hexagonBg {
      opacity: 0.5;
    }
  }
}

.hexagonItem {
  width: 100%;
  height: auto;
}

.langContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagonBg {
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0;

  transition: opacity 0.2s;

  @include less_600_w {
    width: 135px;
  }
}

.hexagonBgActive {
  opacity: 1 !important;
}

.langIcon {
  z-index: 2;
  @include less_600_w {
    transform: scale(0.68);
    transform-origin: center;
    margin-left: -35px;
  }
}
